.cat-img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}
@media (min-width: 1200px) {
    .cat-img { height: 380px; }
}
@media (min-width: 1400px) {
    .cat-img { height: 440px; }
}
header{
    background-color: #fcd5ce;
    padding-top: 0;
    padding-bottom: 0;
}

footer{
    text-align: center;
    padding: 0.5rem;
    background-color: #ffb5a7;
}
footer p {
    margin: 0;
}
.container-fluid{
    min-height: 95vh;
    background-color: #f8edeb;
}
.nav-link{
    text-decoration: none;
    font-weight: bold;
    font-family: "Century Gothic", sans-serif;
    padding-top: 1.5rem;
    font-size: 2rem;
    color: #292f36;
}
.nav{
    padding-top: 0;
    padding-bottom: 0;
}
body {
    margin: 0;
    padding: 0;
}
.page-title{
    font-family: "Century Gothic", sans-serif;
    font-size: 4rem;
    color: #ff006e;
}
.card-title{
    color: #f94144;
    font-size: 1.5rem;
}